@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .menu-item {
        @apply transition-all
        duration-300
        border-b-4 border-transparent
        hover:border-primary;
    }

    /* trending */

    .trending-item {
        @apply h-80
        bg-no-repeat bg-cover bg-center
        flex
        justify-center
        items-end;
    }

    .trending-item-btn {
        @apply bg-secondary
        hover:bg-red-500
        text-white
        font-medium
        px-8
        py-3
        rounded-full
        transition-all
        duration-300
        cursor-pointer;
    }

    /* featured posts - multiple */

    .featured-post-item {
        @apply h-80
        w-full
        sm:w-1/2-4
        lg:w-1/3-4
        flex flex-col
        p-5
        text-white
        bg-no-repeat
        bg-cover
        bg-center
        bg-blend-darken
        bg-opacity-50
        bg-black
        m-2
        transition-all
        duration-300;
    }

    .featured-post-upper-container {
        @apply flex flex-1
        justify-between
        items-start
        text-white;
    }

    .featured-post-dropdown {
        @apply inline-block relative text-center;
    }

    .featured-post-dropdown-btn {
        @apply bg-gray-50
        hover:bg-secondary
        bg-opacity-25
        font-semibold
        p-2
        rounded-full
        inline-flex
        items-center;
    }

    .featured-post-dropdown-list {
        @apply absolute
        hidden
        text-primary
        pt-1
        group-hover:block
        space-y-2;
    }

    .featured-post-dropdown-listItem {
        @apply rounded-full
        bg-white
        hover:bg-gray-200
        block;
    }

    /* card ** faetures ** services  */

    .card-group {
        @apply flex flex-wrap
        justify-center
        font-poppins
        text-center;
    }

    .card {
        @apply flex
        w-full
        sm:w-1/2
        md:w-1/3
        lg:w-1/4
        p-3
        cursor-pointer;
    }

    .card-item {
        @apply flex-1 flex-col
        shadow-2xl
        rounded-2xl
        p-5
        space-y-10
        transform
        transition-all
        duration-300;
    }

    .card-icon {
        @apply bg-yellow-200
        p-5
        rounded-2xl
        transition-all
        duration-300;
    }

    .card-title {
        @apply font-semibold text-lg;
    }

    .card-desc {
        @apply flex-1 text-sm;
    }

    /* members */

    .members-item-container {
        @apply flex flex-col
        rounded-2xl
        bg-gray-200
        duration-300
        border-b-8
        hover:bg-red-200 hover:border-primary;
    }

    .members-image {
        @apply h-80
        rounded-t-2xl
        bg-cover bg-center bg-no-repeat;
    }

    .members-lower-container {
        @apply p-3 space-y-2 flex-1;
    }

    .members-name {
        @apply font-semibold;
    }

    .members-designation {
        @apply text-sm font-medium text-gray-500;
    }

    .members-socials-container {
        @apply flex justify-start space-x-5 text-white;
    }

    .members-social-icon {
        @apply p-2
        rounded-full
        bg-secondary
        hover:bg-primary;
    }
}
